@model Maersk_DDAC.Models.Dock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DockName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DockName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DockLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DockLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DockID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
