@model IEnumerable<Maersk_DDAC.Models.Schedule>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Schedule</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BayLeft)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ship.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure.DockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival.DockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BayLeft)
            </td>
        </tr>
    }

</table>

